include LICENSE
include README.md

recursive-include drf_pdf_renderer/templates *
recursive-include drf_pdf_renderer/static *
recursive-include drf_pdf_renderer/locale *
global-exclude *.py[co]
prune __pycache__
prune test